footer{
  background-color: tomato;
  width: 100%;
  height:500px;
  display: flex;
  margin-top: 100px;
  position: relative;
  justify-content: space-around;
  color: white;
  align-self: flex-end;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }


.foot1{
  padding: 50px;
}


.foot1 img{
  height: 150px;
  border-radius: 50%;
}


footer ul{
  list-style-type: none;
  margin-top: 50px;
  }

.foot_top{
  font-weight: 1000;
  margin-bottom: 20px;
}

footer li{
  padding-bottom: 10px;
}

.foot_bot {
  position: absolute;
  align-self: flex-end;
  margin-bottom: 10px;
}

a:hover{
color: grey;
text-decoration-line: none;
}

a:active{
  color: aqua;
}

a{
  text-decoration: none; 
  color:white;
}

.icon {
  display: flex;
  font-size: 2em;
  width: 120px;
  justify-content: space-between;
}
