* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* PRODUCTS SECTION */
.smallContainer {
	text-align: center;
}

.smallContainer h2 {
	font-weight: 700;
	margin-bottom: 80px;
	line-height: 60px;
	position: relative;
	color: #555;
	padding-top: 55px;
}

.smallContainer h2::after {
	content: '';
	background: tomato;
	width: 100px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.smallContainer .col-4 {
	display: inline-block;
	width: 20%;
	height: 100px;
	padding: 20px;

	/* border: 2px solid black; */
}

.smallContainer .col-4 h4 {
	font-weight: normal;
	color: #555;
}
.smallContainer .col-4 .name {
	font-weight: normal;
	color: #555;
	font-weight: 700;
	font-size: 1.25rem;
}

.smallContainer .col-4 p {
	font-size: 1rem;
	padding: 10px;
	font-weight: bolder;
}

.smallContainer .col-4 img {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}

.smallContainer .col-4 img:hover {
	cursor: pointer;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
/* TO TURN OFF HOVER TRASLATE Y / SWAP .COL-4 WITH .MOVE */
.move {
	display: inline-block;
	width: 20%;
	height: 100px;
	padding: 20px;
}
.smallContainer .move img {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}

.smallContainer .photo {
	display: flex;
}

.photo i {
	position: relative;
	right: 50px;
	top: 30px;
	color: white;
}
.smallContainer button {
	padding: 20px;
	margin-top: 15px;
	border: none;
	border-radius: 25px;
	font-weight: bolder;
	background-color: tomato;
	color: white;
}
.smallContainer button:hover {
	cursor: pointer;
	opacity: 0.8;
}
